/*  文字を強調する  */

span.keyword0 { color: rgb(212,137,26); font-weight: bold;text-decoration: underline; }
span.keyword1 { color: rgb(169,79,23); font-weight: bold;text-decoration: underline; }
span.keyword2 { color: rgb(227,66,49); font-weight: bold;text-decoration: underline; }
span.keyword3 { color: rgb(166,46,26); font-weight: bold;text-decoration: underline; }
span.keyword4 { color: rgb(199,39,54); font-weight: bold;text-decoration: underline; }
span.keyword5 { color: rgb(165,49,77); font-weight: bold;text-decoration: underline; }
span.keyword6 { color: rgb(186,60,196); font-weight: bold;text-decoration: underline; }
span.keyword7 { color: rgb(144,60,158); font-weight: bold;text-decoration: underline; }
span.keyword8 { color: rgb(126,75,193); font-weight: bold;text-decoration: underline; }
span.keyword9 { color: rgb(91,56,154); font-weight: bold;text-decoration: underline; }
span.keyword10 { color: rgb(57,70,197); font-weight: bold;text-decoration: underline; }
span.keyword11 { color: rgb(49,49,151); font-weight: bold;text-decoration: underline; }
span.keyword12 { color: rgb(46,158,129); font-weight: bold;text-decoration: underline; }
span.keyword13 { color: rgb(42,126,118); font-weight: bold;text-decoration: underline; }
span.keyword14 { color: rgb(34,170,70); font-weight: bold;text-decoration: underline; }
span.keyword15 { color: rgb(29,135,47); font-weight: bold;text-decoration: underline; }
span.keyword16 { color: rgb(93,182,44); font-weight: bold;text-decoration: underline; }
span.keyword17 { color: rgb(82,146,46); font-weight: bold;text-decoration: underline; }
span.keyword18 { color: rgb(155,178,40); font-weight: bold;text-decoration: underline; }
span.keyword19 { color: rgb(126,143,41); font-weight: bold;text-decoration: underline; }

span.keyword20 { color: rgb(125,125,255); font-weight: bold;text-decoration: underline; }
span.keyword21 { color: rgb(125,135,255); font-weight: bold;text-decoration: underline; }
span.keyword22 { color: rgb(125,145,255); font-weight: bold;text-decoration: underline; }
span.keyword23 { color: rgb(125,155,255); font-weight: bold;text-decoration: underline; }
span.keyword24 { color: rgb(125,165,255); font-weight: bold;text-decoration: underline; }
span.keyword25 { color: rgb(125,175,255); font-weight: bold;text-decoration: underline; }
span.keyword26 { color: rgb(125,185,255); font-weight: bold;text-decoration: underline; }
span.keyword27 { color: rgb(125,195,255); font-weight: bold;text-decoration: underline; }
span.keyword28 { color: rgb(125,205,255); font-weight: bold;text-decoration: underline; }
span.keyword29 { color: rgb(125,215,255); font-weight: bold;text-decoration: underline; }

span.keyword30 { color: rgb(125,125,180); font-weight: bold;text-decoration: underline; }
span.keyword31 { color: rgb(125,135,180); font-weight: bold;text-decoration: underline; }
span.keyword32 { color: rgb(125,145,180); font-weight: bold;text-decoration: underline; }
span.keyword33 { color: rgb(125,155,180); font-weight: bold;text-decoration: underline; }
span.keyword34 { color: rgb(125,165,180); font-weight: bold;text-decoration: underline; }
span.keyword35 { color: rgb(125,175,180); font-weight: bold;text-decoration: underline; }
span.keyword36 { color: rgb(125,185,180); font-weight: bold;text-decoration: underline; }
span.keyword37 { color: rgb(125,195,180); font-weight: bold;text-decoration: underline; }
span.keyword38 { color: rgb(125,205,180); font-weight: bold;text-decoration: underline; }
span.keyword39 { color: rgb(125,215,180); font-weight: bold;text-decoration: underline; }

span.keyword40 { color: rgb(125,125,150); font-weight: bold;text-decoration: underline; }
span.keyword41 { color: rgb(125,135,150); font-weight: bold;text-decoration: underline; }
span.keyword42 { color: rgb(125,145,150); font-weight: bold;text-decoration: underline; }
span.keyword43 { color: rgb(125,155,150); font-weight: bold;text-decoration: underline; }
span.keyword44 { color: rgb(125,165,150); font-weight: bold;text-decoration: underline; }
span.keyword45 { color: rgb(125,175,150); font-weight: bold;text-decoration: underline; }
span.keyword46 { color: rgb(125,185,150); font-weight: bold;text-decoration: underline; }
span.keyword47 { color: rgb(125,195,150); font-weight: bold;text-decoration: underline; }
span.keyword38 { color: rgb(125,205,150); font-weight: bold;text-decoration: underline; }
span.keyword49 { color: rgb(125,215,150); font-weight: bold;text-decoration: underline; }


body {
    margin: 0;
    padding: 0;
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ',
                 Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}
table {
    font-size: 12px;
    background-color: #ffffff;
    border-top:1px solid #e3e3e3;
    border-left:1px solid #e3e3e3;
    border-collapse: collapse;
    border-spacing: 0;
}
table thead { background-color: #f5f5f5; }
table thead th div { width: 60px; }
table thead th {
    padding: 2px 4px;
    border-right:1px solid #e3e3e3;
    border-bottom:1px solid #e3e3e3;
    font-weight: bold;
    line-height: 120%;
    text-align: center;
}
table thead th.selectbox div { width: 120px; }
table thead th.text div { width: 360px; }
table thead th.checkbox div.rotate {
    width: 240px;
    height: 240px;
    rotation-point: left bottom;

    /* Safari, Chrome */
    -webkit-transform: rotate(-90deg);   

    /* Fierfox */
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: 50% 50%;

    /* IE */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
table thead th.checkbox div.rotate_container {
    width: 20px;
    height: 240px;
    margin-left: 3px;
    overflow: hidden;
}
table thead input._filterText {
    width: 20px;
    background-color: #fcfcfc;
    border: 1px solid #c0c0c0;
}
table thead tr.filterColumns td {
    background-color: #f5f5f5;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}
table tbody tr { border-bottom: 1px solid #e3e3e3; }
table tbody td {
    text-align: center;
    border-right: 1px solid #e3e3e3;
}
tr.odd { background-color: #ffffff; }
tr.even { background-color: #f5f5f5; }
tr.filterColumns { text-align: center; }
tr.filterColumns td { padding-bottom: 4px; }
tbody td.text {
    text-align: left;
    padding: 4px;
    width: 360px;
    line-height: 140%;
}

/*  背景色を強調する  */
/*
span.keyword0 { background-color: #ffccff; }
span.keyword1 { background-color: #66ccff; }
span.keyword2 { background-color: #33ff66; }
span.keyword3 { background-color: #ffcc33; }
span.keyword4 { background-color: #9999ff; }
 */





